{% extends 'main/base.html' %}
{% load static %}
{% block body %}

<section class="tab-area">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
			  <div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active show" id="list-home-list" data-toggle="tab" href="#list-home" role="tab" aria-controls="list-home" aria-selected="true">Home</a>
				<a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="tab" href="#list-profile" role="tab" aria-controls="list-profile" aria-selected="false">Contact Us</a>
				<a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="tab" href="#list-messages" role="tab" aria-controls="list-messages" aria-selected="false">About Us</a>
			  </div>
			  <div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade active show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
				  <div class="single_about">
                      <br>
                      <div class="container">
                          <div class="row">
                          <div class="col-sm">
                            <div class="d-flex justify-content-center">
                            <a href=""><i class="fas fa-user-cog fa-10x icon" ></i><p class="text">Admin Login</p></a>
                            </div>
                          </div>
                          <div class="col-sm">
                            <div class="d-flex justify-content-center">
                                <a href=""><i class="fas fa-user-alt fa-10x icon" ></i><p class="text">Parent Login</p></a>
                            </div>
                          </div>
                          </div>

                      </div>
                    </div>
				</div>
				<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
				  <div class="single_about">
					 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry </p>
					 <p>STEM Center Bangladesh's products provide complete, multidisciplinary experiences for students from 5 years old and up.</p>
				  </div>
				</div>
				<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
				  <div class="single_about">
					 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry </p>
					 <p>STEM Center Bangladesh's products provide complete, multidisciplinary experiences for students from 5 years old and up.</p>
				  </div>
				</div>
			  </div> 
             </div>
		</div>
	</div>
</section>


{% endblock %}
